<plugin id="cordova-sqlite-demo-plugin" version="0.0.1-dev">
  <name>cordova sqlite demo plugin</name>

  <!--
    THANKS for guidance:
    * https://cordova.apache.org/docs/en/latest/guide/hybrid/plugins/index.html
    * https://cordova.apache.org/docs/en/latest/plugin_ref/spec.html
    * https://cordova.apache.org/docs/en/latest/guide/platforms/android/plugin.html
    * https://cordova.apache.org/docs/en/latest/guide/platforms/ios/plugin.html
  -->

  <js-module src="www/sqlite-demo.js" name="SQLiteDemoPlugin">
    <!-- keep it simple: -->
    <runs />
  </js-module>

  <platform name="android">
    <config-file target="config.xml" parent="/*">
      <feature name="SQLiteDemoPlugin">
        <param name="android-package" value="com.demo.SQLiteDemoPlugin" />
      </feature>
    </config-file>
    <source-file src="src/android/SQLiteDemoPlugin.java" target-dir="src/com/demo" />
    <source-file src="dependencies/SQLiteBatchCore.java" target-dir="src/io/sqlc" />
    <lib-file src="dependencies/sqlite-connection-core-glue.jar" />
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="SQLiteDemoPlugin">
        <param name="ios-package" value="SQLiteDemoPlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/SQLiteDemoPlugin.m" />
    <header-file src="dependencies/SQLiteBatchCore.h" />
    <source-file src="dependencies/SQLiteBatchCore.m" />
    <header-file src="dependencies/sqlite3.h" />
    <source-file
      src="dependencies/sqlite3.c"
      compiler-flags="
        -DSQLITE_DEFAULT_SYNCHRONOUS=3
        -DSQLITE_THREADSAFE=1
        -DHAVE_USLEEP
        -DHAVE_UTIME
        " />
    <header-file src="dependencies/sqlite-connection-core.h" />
    <source-file src="dependencies/sqlite-connection-core.c" />
  </platform>

  <platform name="osx">
    <config-file target="config.xml" parent="/*">
      <feature name="SQLiteDemoPlugin">
        <param name="osx-package" value="SQLiteDemoPlugin" />
      </feature>
    </config-file>
    <source-file src="src/ios/SQLiteDemoPlugin.m" />
    <header-file src="dependencies/SQLiteBatchCore.h" />
    <source-file src="dependencies/SQLiteBatchCore.m" />
    <header-file src="dependencies/sqlite3.h" />
    <source-file
      src="dependencies/sqlite3.c"
      compiler-flags="
        -DSQLITE_DEFAULT_SYNCHRONOUS=3
        -DSQLITE_THREADSAFE=1
        -DHAVE_USLEEP
        -DHAVE_UTIME
        " />
    <header-file src="dependencies/sqlite-connection-core.h" />
    <source-file src="dependencies/sqlite-connection-core.c" />
  </platform>
</plugin>
